body {
    background-color: gray;
}
#page {
    width: 40em;
    margin: 0 auto;
    background-color: white;
    padding: 2em 1em;
}
h1,h2,h3,h4 {
    font-family: sans-serif;
}
#uploadForm {
    font-size: large;
}
#uploadForm label {
    min-width: 7em;
    display: inline-block;
    text-align: right;
}
#uploadForm button {
    margin: 2em 7em;
}